RewriteEngine On

# Define a saída padrão para UTF-8;
AddDefaultCharset UTF-8

# Força um erro 404.
RewriteRule ^404$ - [R=404,L]

# Permite o acesso direto aos arquivos contidos nas pastas públicas de um módulo.
# Exceto se possuir QUERY_STRING.
RewriteCond %{QUERY_STRING} =""
RewriteRule ^[^/]+/publics/.+$ - [L]

# Pois caso possua, será necessário enviar a uma rota especial através do motor.
# Para isso é definido uma ENV.
RewriteRule ^[^/]+/publics/.+$ index.php [E=PUBLICS:true,L]

# Redireciona todas as chamadas restantes ao motor.
RewriteRule ^ index.php [L]
