html {
	height: 100%;
	background-color: #FCFCFC;
}
body {
	margin: 0;
	font: 12pt "Open Sans";
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a {
    color: #0000D6;
    text-decoration: none;
}
a:hover {
    color: #F30000;
	text-decoration: underline;
}

/** BASE WIDGET */
.base-widget {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
}
.base-page {
    background-color: white;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(238, 238, 238, 0.6);
    box-sizing: border-box;
    flex: 1 auto;
    border-left: 1px #E6E6E6 solid;
    border-right: 1px #E6E6E6 solid;
}

/** HEADER WIDGET */
.header-widget {
    background-color: #FCFCFC;
    padding: 25px 35px;
}
.header-widget > h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: inherit;
    display: inline-block;
    margin: 0;
}

/** CONTROLLER WIDGET */
.controller-widget {
    display: flex;
    background-color: #FAFAFA;
    padding: 10px 35px;
    font-size: 0.8em;
}

.controller-widget > span.separator::before {
    content: "|";
    padding: 0 10px;
    color: #F1F1F1;
}
.controller-widget > span.long-separator {
    flex: 1 auto;
}

.controller-widget > span.text {
    color: #666;
}

/** CONTENT WIDGET */
.content-widget {
    padding: 30px 35px;
    font: 10.5pt Consolas;
}

/** ASSERT WIDGET */
.assert-widget {
}

.assert-group {
    clear: both;
    margin-bottom: 25px;
    overflow: hidden;
}
.assert-group-title {
    padding: 5px 0;
    color: #DFDFDF;
}
.assert-group-body {
}

.assert-item {
    clear: both;
    padding: 2px 0;
}
.assert-item.success {
    color: #00C900;
}
.assert-item.fail {
    color: #E00000;
}

.assert-item > div {
	display: inline-block;
	float: left;
}

.assert-item-line::before {
	content: "\00a0[";
	float: left;
	color: #F3F3F3;
}
.assert-item-line {
    color: #A8A8A8;
    width: 80px;
    text-align: right;
}
.assert-item-line::after {
	content: "]\00a0";
	color: #F3F3F3;
}

.assert-item-info::before {
    content: "->";
    padding: 0 10px;
    color: #F3F3F3;
}
.assert-item-info {
    color: #D5D5D5;
}

.assert-item-fail-message::before {
	content: "\00a0\00bb\00a0";
	color: silver;
}
.assert-item-fail-message {
	color: red;
	clear: both;
	margin-left: 80px;
	padding: 5px 0;
}

.assert-footer {
    font-size: small;
    margin-top: 20px;
    clear: both;
}
.assert-footer:first-child {
    margin-top: inherit;
}

.assert-footer-time {
    font-size: 9pt;
    color: #CCC;
}