html {
	height: 100%;
	background-color: #FCFCFC;
}
body {
	margin: 0;
	font: 12pt "Open Sans";
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/** BASE WIDGET */
.base-widget {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
}
.base-page {
    background-color: white;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(238, 238, 238, 0.6);
    box-sizing: border-box;
    flex: 1 auto;
    border-left: 1px #E6E6E6 solid;
    border-right: 1px #E6E6E6 solid;
}

/** HEADER WIDGET */
.header-widget {
    background-color: #FCFCFC;
    padding: 25px 35px;
}
.header-widget > h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: inherit;
    display: inline-block;
    margin: 0;
}

/** CONTROLLER WIDGET */
.controller-widget {
    display: flex;
    background-color: #FAFAFA;
    padding: 10px 35px;
    font-size: 0.8em;
}

.controller-widget > a {
    text-decoration: none;
    color: #0000D6;
}
.controller-widget > a:hover {
    color: #F30000;
	text-decoration: underline;
}

.controller-widget > span.separator::before {
    content: "|";
    padding: 0 10px;
    color: #F1F1F1;
}
.controller-widget > span.long-separator {
    flex: 1 auto;
}

.controller-widget > span.text {
    color: #666;
}